################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Backend/bin/Debug/net5.0
/Backend/obj/Debug/net5.0
/Backend/obj/Release/net5.0
/Backend/obj
/TreinamentoApplication/bin/Debug/net5.0
/TreinamentoApplication/obj
/TreinamentoWebApp/bin/Debug/net5.0
/TreinamentoWebApp/obj
